

<body >
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Admin Panel</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid new">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
          <div class="sidebar-sticky mt-3">
            <ul class="nav flex-column">
              <li class="nav-item ">
                <a class=" nav-link active " href="#">
                  Home <span class="sr-only ">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">
                  Products
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                
                  Users
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">

                  Orders
                </a>
              </li>
             
            </ul>
          </div>
        </nav>


<style>
  .sidebar{
    background-color: #05192d;
    position: fixed;
    z-index: 1;
    height: 100vh;
    left: 0;
    overflow: hidden;
    
  }

  .nav-link{
    color: white ;
  }
</style>