<nav class="navbar navbar-expand-lg ">
  <a class="navbar-brand" href="/"><b><span class="text-success">REAL</span><span
        class="text-danger">KART</span></b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" style="margin-left: 280px;">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {{#if user}}
      <li class="nav-item">
        <a class="nav-link" href="/my-orders">My Orders</a>
      </li>
      {{/if}}
      <li class="nav-item">
        <a class="nav-link" href="/cart">My Cart <span class="badge badge-success" id="cart-count">{{cartCount}}</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Us</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="border-radius: 15px; background-color: #05192d;">
          {{#if user}}
          <img src="/images/{{user._id}}.jpg" class="user-image" >
          <p class="text-center mt-2 text-light" style="font-size: 18px;"><b>{{user.Name}}</b></p><hr class="new">
          <a class="dropdown-item text-center text-danger" href="/logout"><b>Logout</b></a>
          {{else}}
          <a class="dropdown-item text-center text-danger" href="/login"><b>Login</b></a><hr class="new1">
          <a class="dropdown-item text-center text-danger" href="/signup"><b>Sign up</b></a>
          {{/if}}
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 ml-auto my-lg-0">
      <div class="search">
        <div>
          <input type="text" placeholder="Search . . ." required>
        </div>
      </div>

    </form>
  </div>
</nav>

<style>
  body{
    background-color: #f1f3f6 !important;
  }
  .navbar {
    background-color: #05192d;
  }

  .navbar li {
    padding-left: 25px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .nav-link {
    color: whitesmoke;
  }
  .nav-link:hover{
    color: red;
  }



  .search {
    margin: 10px;
  }


  .search>div:after {
    content: "";
    background: rgb(39, 230, 39);
    width: 4px;
    height: 15px;
    position: absolute;
    top: 37px;
    right: 25px;
    transform: rotate(135deg);
  }
  .search>div:hover:after{
    background: red;
  }

  .search>div>input {
    color: white;
    font-size: 16px;
    background: transparent;
    width: 25px;
    height: 25px;
    padding: 10px;
    border: solid 3px rgb(39, 230, 39);
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
  }
  .search>div>input:hover{
    border:solid 3px red ;
  }

  .search>div>input::placeholder {
    color: #efefef;
    opacity: 0;
    transition: opacity 150ms ease-out;
  }

  .search>div>input:focus::placeholder {
    opacity: 1;
  }

  .search>div>input:focus,
  .search>div>input:not(:placeholder-shown) {
    width: 250px;
    margin-left: 25px;
  }
  .user-image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 55px;
  }
  hr.new{
    border: 3px solid white;
    border-radius: 15px;
  }
  hr.new1{
    border: 1px solid white;
    border-radius: 15px;
  }
  .dropdown-item:hover{
    background: none;
  }
</style>