<section class="wrapper fadeInDown mt-4">
    <div id="formContent">
    <div class="fadeIn first">
        <h2 class="text-center mb-4"><b><span class="text-success">REAL</span><span class="text-danger">CART</span></b></h2>
    </div>
    
       <form action="/login" method="POST">
       <h3 id="loginhead">Login</h3>
       {{#if logErr}}
       <p class="text-danger error"><b>{{logErr}}</b></p>
       {{/if}}
       <input type="email" name="Email" class="fadeIn second" id="login" placeholder="email">
       <input type="password" name="Password" class="fadeIn third" id="password" placeholder="password">
       <input type="submit" class="fadeIn fourth" value="log in">

       </form>
       <p style="color: gray;">Or</p>
       <div id="formFooter">
           <a class="underlineHover" style="color: #f52b07;" href="/signup">Don't have an account ?</a>
       </div>
       </div>
</section>

<style>
    
    .wrapper{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        min-height: 100%;
        padding: 20px;
    }
    #formContent{
        border-radius: 10px 10px 10px 10px;
        background: #fff;
        width: 90%;
        max-width: 450px;
        position: relative;
        padding: 0px;
        padding-top: 20px;
        box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
        text-align: center;
    }
   #loginhead{
       font-size: 2em;
       margin: 10px 0;
   }
   #password,#login{
       background-color: #f6f6f6;
       color: #0d0d0d;
       padding: 15px 32px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 16px;
       margin: 13px;
       width: 85%;
       border: 2px solid #f6f6f6;
       border-radius: 5px;
   }
   input[type=button],input[type=submit],input[type=reset]{
       background-color: #05192d;
       border: none;
       color: white;
       padding: 15px 80px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       text-transform: uppercase;
       font-size: 13px;
       box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
       border-radius: 5px;
       margin: 5px 20px 30px 20px;
   }
   input[type=submit]:hover{
       color: red;
       cursor: pointer;
   }
   #formFooter{
       background-color: #f6f6f6;
       border-top: 1px solid #dce8f1;
       padding: 25px;
       text-align: center;
       border-radius: 0 0 10px 10px;

   }
    a{
        display: inline-block;
        text-decoration: none;
        font-weight: 400;
    }
    
</style>