<section class="m-auto text-center">
    <div class="container">
    <div class="success-box">
        <h4 class="fa fa-check p-2 check-logo"></h4>
        <h4 class="title"><b>order successfully placed</b></h4><hr>
        <h6 class="mt-4 mb-4">Your order number is <span class="text-danger">#542652</span></h6><hr>
        <p class="email-confirmation">you'll receive an email confirmation shortly to <span class="text-success"><b>{{email}}</b></span></p>
       
        <div class="buttons">
            <a href="/my-orders" class="btn btn-order">MY ORDERS</a>
        <a href="/" class="btn btn-home">CONTINUE SHOPPING</a>
        </div>
    </div>
    </div>
</section>
<style>
    .success-box{
        margin:80px 0px 0 180px; 
        background-color: white;
        width: 720px;
        box-shadow:0px 0px 20px 2px rgba(57, 60, 60, 0.50);
        border-radius: 10px;
    }
    .check-logo{
        margin: 40px 0 25px 0;
        font-size: 30px; 
        border: 8px solid rgb(10, 190, 10);
        color: rgb(10, 190, 10); 
        border-radius: 50%;
    }
    .title{
        color: rgb(10, 190, 10);
        margin: 0 0 30px 0;
    }
    .email-confirmation{
        font-size: 14px;
        margin:25px 0 25px 0;
    }
    .btn-order{
        color: black;
        border: 2px solid black;
        width: 200px;
        font-size: 14px;
    }
    .btn-home{
        background-color:rgb(10, 190, 10); ;
        width: 200px;
        color: white;
        font-size: 14px;
    }
    .buttons{
        margin-top: 40px;
        margin-bottom: 40px;
        padding-bottom: 40px;
    }
    hr{
        border: 1px solid lightgray;
    }
</style>